.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.rede {
  color: orange;
}
.rede {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.mais {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
